<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/projects">Project</a>
        </li>
        <li>
            <a href="/tasks">Task</a>
        </li>
        <li>
            <a href="/create_task">Create_task</a>
        </li>
        <li>
            <a href="/create_project">Create_project</a>
        </li>
    </ul>
</nav>
<!-- para agregar contenido -->
{% block content %} 
{% endblock %}