{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, culpa nulla libero voluptatum inventore veniam tenetur, aut voluptas magnam laudantium suscipit iste, quis doloribus. Error provident voluptatibus consequuntur asperiores recusandae, eveniet autem magnam voluptates illo officiis necessitatibus expedita perferendis, iusto consectetur. Quibusdam voluptatum assumenda nesciunt, iste dolores nisi odit saepe necessitatibus distinctio, commodi debitis consequatur, architecto labore fugit perferendis eius iusto inventore itaque earum omnis incidunt laborum? Harum assumenda sint inventore quae exercitationem et, obcaecati repudiandae quis, culpa ratione unde dignissimos earum nesciunt beatae autem temporibus eveniet non ipsam debitis voluptatibus praesentium repellendus atque est dolore? Rem aliquam obcaecati et.</p>
<p>pag web creada por {{username}}</p>
{% endblock %}